[
    {
      "id": "relay1",
      "ip": "35.177.203.48", 
      "port": 55665
    },
    {
      "id": "relay2",
      "ip": "35.177.203.48",
      "port": 55666
    },
    {
      "id": "relay3",
      "ip": "35.177.203.48",
      "port": 55667
    }
  ]

  ### you need to delete the ip, find your ip, and change the port number